<h1>Bienvenidos al juego del ahorcado!</h1>

<div class="contenedor-ahorcado">
  <form [formGroup]="formAhorcado" (ngSubmit)="iniciar_juego()">
    <div class="selector-ahorcado">
      <h2>Seleccionar Idioma</h2>
      <mat-form-field appearance="fill">
        <mat-label>Idioma</mat-label>
        <mat-select formControlName="idioma">
        @for (idioma of idiomas; track idioma) {
          <mat-option [value]="idioma">{{ idiomaLabels[idioma].toUpperCase() }}</mat-option>
        }
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <h2>Seleccionar Dificultad</h2>
      <mat-form-field appearance="fill">
        <mat-label>Dificultad</mat-label>
        <mat-select formControlName="dificultad">
          @for (dificultad of dificultades; track dificultad) {
          <mat-option [value]="dificultad">{{ dificultadLabels[dificultad].toUpperCase() }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary" type="submit">Jugar</button>
        </div>
      </section>
    </div>
  </form>
</div>
