<div class="ahorcado-container">
  <div class="ahorcado-card">
    <h1>Juego del Ahorcado</h1>
    <mat-divider></mat-divider>

    <div class="palabra-secreta" style="margin-top: 20px; margin-bottom: 20px">
      {{ this.juego.mostrar_progreso_palabra() }}
    </div>

    <div class="input-area">
        <mat-form-field appearance="outline">
          <mat-label>Ingresa una letra</mat-label>
          <input
            type="text"
            matInput
            [formControl]="letraControl"
            (keyup.enter)="onEnterKey()"
            aria-label="Ingresar letra"
            maxlength="1"
          />
          <mat-error *ngIf="letraControl.hasError('pattern')">
            Solo se permiten letras (a-z, A-Z)
          </mat-error>
          <mat-error *ngIf="letraControl.hasError('required')">
            La letra es requerida
          </mat-error>
        </mat-form-field>
    </div>

    <div class="input-area">
        <button 
          mat-raised-button 
          color="primary" 
          (click)="adivinarLetra()"
          [disabled]="!letraControl.valid">
          Arriesgar
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="info-row">
      <p>
        <strong>Letras usadas: </strong>
        <span style="font-size: large; text-transform: uppercase;">{{ letrasUtilizadas.join(' - ') }}</span>
      </p>
      <p>
        <strong>Intentos restantes: </strong>
        <span style="font-size: large; color: rgba(176, 41, 41, 0.889)">{{ intentosRestantes }}</span>
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="reiniciar">
      <button mat-stroked-button color="accent" (click)="reiniciarJuego(true)">Reiniciar</button>
      <button mat-stroked-button color="warn" (click)="reiniciarJuego(false)">Salir</button>
    </div>
  </div>
</div>