<div class="ahorcado-container">
  <div class="ahorcado-card">
    <h1>Juego del Ahorcado</h1>
    <mat-divider></mat-divider>

    <div class="palabra-secreta" style="margin-top: 20px; margin-bottom: 20px">
      {{ this.juego.mostrar_progreso_palabra() }}
    </div>

    <div class="input-area">
      <mat-form-field appearance="outline">
        <mat-label>Ingresa una letra</mat-label>
        <input
          type="text"
          matInput
          minlength="1"
          maxlength="1"
          [(ngModel)]="letraIngresada"
          (keyup.enter)="adivinarLetra(letraIngresada)"
          aria-label="Ingresar letra"
        />
      </mat-form-field>
    </div>

    <div class="input-area">
      <button
        mat-raised-button
        color="primary"
        (click)="adivinarLetra(letraIngresada)"
        [disabled]="verificarLetra(letraIngresada)"
      >
        Arriesgar
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="info-row">
      <p>
        <strong>Letras usadas: </strong>
        <span style="font-size: large">{{ letrasUtilizadas.join(' - ') }}</span>
      </p>
      <p>
        <strong>Intentos restantes: </strong>
        <span style="font-size: large">{{ intentosRestantes }}</span>
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="reiniciar">
      <button mat-stroked-button color="accent" (click)="reiniciarJuego(true)">Reiniciar</button>
      <button mat-stroked-button color="warn" (click)="reiniciarJuego(false)">Salir</button>
    </div>
  </div>
</div>
