name: CI - Angular + Jest + Cucumber + Cypress

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Build Angular app
        run: npm run build --if-present

      - name: Run Jest unit tests (with coverage)
        run: npm run test:coverage

      - name: Upload Jest coverage report
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: jest-coverage-backend
          path: coverage/

      - name: Start Angular app with coverage in background
        run: |
          npm run start:coverage &>/dev/null &
          echo "Esperando que levante Angular..."
          npx wait-on http://localhost:4200

      - name: Run Cypress Cucumber E2E tests with coverage
        run: npm run test:e2e:ci

      - name: Upload total coverage report (optional)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-coverage-ui-frontend
          path: coverage/
