name: SonarCloud Scan

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

jobs:
    sonarcloud:
        name: SonarCloud Analysis
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # importante para obtener todo el historial de git

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: 20

            - name: Install dependencies
              run: npm ci

            - name: Run tests and generate coverage
              run: npm run test -- --coverage --watch=false

            - name: SonarCloud Scan
              uses: SonarSource/sonarcloud-github-action@v2
              with:
                  args: >
                      -Dsonar.organization=ahorcado_agiles
                      -Dsonar.projectKey=ahorcado_agiles
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
